<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="Nlog.log">

  <variable name="Application" value="TurnosRC" />
  <variable name="LogServer" value="." />
  <variable name="Db" value="bdTurnosRC" />
  <variable name="TblLogs" value="tblLogs" />
  <variable name="DbUsr" value="sa" />
  <variable name="DbPwd" value="as" />

  <targets>

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"/>
    </target>

    <target name="jsonFile" xsi:type="File" fileName="${basedir}/Logs/Log_${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target name="database" xsi:type="Database" keepConnection="true" dbProvider="System.Data.SqlClient" connectionString="data source=${LogServer};initial catalog=${Db};integrated security=false;persist security info=True;User ID=${DbUsr};Password=${DbPwd}" commandText="INSERT INTO ${TblLogs}(Application,EventDateTime, EventLevel, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage, Exception) VALUES (@Application, @EventDateTime, @EventLevel, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage, @Exception)">
      <parameter name="@Application" layout="${Application}" />
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
      <parameter name="@ErrorClass" layout="${event-context:item=error-class}" />
      <parameter name="@ErrorMethod" layout="${event-context:item=error-method}" />
      <parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />
      <parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
    </target>

  </targets>

  <rules>
    <!--
    <logger name="*" minlevel="Debug" writeTo="asyncFile, jsonFile,database" />
    -->
    <logger name="*" minlevel="Debug" writeTo="asyncFile, jsonFile" />
  </rules>
</nlog>