<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="turnosDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="turnosDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="turnosDashboard.Properties.Settings.bdTurnosConnectionString"
            connectionString="Data Source=10.10.20.134\MSSQLSERVER2014;Initial Catalog=bdTurnos;Persist Security Info=True;User ID=sa;Password=as"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <turnosDashboard.Properties.Settings>
            <setting name="ApiRestCitasRC" serializeAs="String">
                <value>http://localhost:666/wscitasregistrocivil/index.php</value>
            </setting>
            <setting name="VersionApiRestCitasRC" serializeAs="String">
                <value>apiV1</value>
            </setting>
            <setting name="IdOficina" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="ScreenShowNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultSound" serializeAs="String">
                <value>defaultSound.wav</value>
            </setting>
            <setting name="RESTCallInterval" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="RESTRequestTimeOut" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WeatherDefault" serializeAs="String">
                <value>Colima,mx</value>
            </setting>
            <setting name="WeatherDefaultRefresh" serializeAs="String">
                <value>60</value>
            </setting>
        </turnosDashboard.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <turnosDashboard.Properties.Settings>
            <setting name="WeatherDinamicRefresh" serializeAs="String">
                <value>0.5</value>
            </setting>
        </turnosDashboard.Properties.Settings>
    </userSettings>
</configuration>